extend ../layout/default

block body

  h2.mb-3 Update book
  form(method='POST' action='update' enctype="multipart/form-data")
    .form-group      
      if (book.coverUrl)
        label(for='cover-upload')
          img(src=book.coverUrl, alt=book.title, width='100' height='100' style='object-fit: cover')
      label(for='cover-upload')
      input.form-control-file#cover-upload(type='file' name='cover')
    .form-group
      label Title
      br 
      input.form-control(type='text' name='title' value=book.title)
    .form-group
      label Description
      br
      textarea.form-control(type='text' name='desc' rows='4')= book.desc
    .form-group.d-flex.justify-content-between
      a.btn.btn-outline-primary(href='/books') Back
      button.btn.btn-primary Update