doctype html
html(lang='en')
  head
    title Hello Express
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    link(rel="shortcut icon" href="https://cdn.glitch.com/aa87e97f-e9a4-417d-af56-e94ccfe27b3f%2Ffavicon.ico?v=1589824575277")
    link(rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.0/css/bootstrap.min.css' )
    link(rel='stylesheet' href='/custom.css')
  body
    block nav
      - var currentPage = index
      include nav.pug
    main
      .container
        block body
    footer
        script(src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.slim.min.js')
        script(src='https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.0/js/bootstrap.min.js')
