nav.navbar.navbar-expand-lg.navbar-light.bg-light.mb-3
  .container
    h1.h2
      a.navbar-brand(href='/') HelloExpress
    button.navbar-toggler(type='button', data-toggle='collapse', data-target='#navbarNav', aria-controls='navbarNav', aria-expanded='false', aria-label='Toggle navigation')
      span.navbar-toggler-icon
    #navbarNav.collapse.navbar-collapse.justify-content-between
      ul.navbar-nav.flex-grow-1
        li.nav-item
          a.nav-link(href='/books') Books
        if (isAdmin === true)
          li.nav-item
            a.nav-link(href='/users') Users
        if (curentUserEmail)
          li.nav-item
            a.nav-link(href='/transactions') Transactions
      .navbar__login.ml-lg-3
        if (userName)
          a(href='/profile').mb-0.navbar__login-text= userName
          |, 
          a(href="/auth/logout") Logout
        else
          a.navbar__login-link(href='/auth/login') Login      
      .navbar__cart.ml-lg-3
        .dropdown
          a.dropdown-toggle(href='#' data-toggle='dropdown' role='button' aria-expanded='false')
            span Cart
            | 
            span= totalCart ? totalCart : 0 
            | 
            span.caret
          ul.dropdown-menu.dropdown-cart(role='menu')
            if (totalCart)
              each el in sessionCartArr
                li
                  span.item
                    span.item-left.d-none
                    span.item-info
                      span.item-title= el[0]
                      span.item-qty= el[1]
              li.text-right
                a(href='/cart/checkout') Checkout
            else
              li Your cart is empty
